* {
   margin: 0;
   padding: 0;
   font-family: DM Sans;
   font-weight: 400;
   font-size: 22px;
}

header {
   display: flex;
   justify-content: space-between;
   margin-top: 95px;
}

header h2 {
   font-weight: 500;
   font-size: 50px;
}

header .connect {
   display: flex;
   gap: 30px;
   align-items: center;
}

header .connect a {
   font-weight: 500;
   text-decoration: none;
}
header .connect a:visited{
   color: black;
}
header .connect a:hover{
   color: rgba(96, 96, 96, 1);
}

body{
   background: rgba(243, 243, 243, 1);
   width: 1120px;
   margin: auto;
}


main .first{
   display:flex;
   justify-content: space-between;
}

main .first p{
font:  400 32px DM Sans;
color: rgba(96, 96, 96, 1);
margin-top: 171px;
}

main .first h1{
   font: 500 60px DM Sans;
   margin-top: 128px;
}
main .first img{
   margin-top: 128px;
}

main .o1{
   display:flex;
   justify-content: space-between;
   margin-top: 83px;
}
main .o1 .left h3{
font: 500 24px DM Sans;
}

main .o1 .left .common{
   font: 400 22px DM Sans;
   margin-top: 25px;
}
main .o1 .left .grey{
   font: 400 22px DM Sans;
   color: rgba(96, 96, 96, 1);
   margin-top: 65px;
}
main .o1 .left .underlined{
   font: 500 22px DM Sans;
   text-decoration: underline;
   margin-top: 140px;
}
main .o1 .right{
   width: 640px;
   height: 365px;
   background: rgba(96, 96, 96, 1);
}
.separate1{
   margin-top: 106px;
   border: 1.5px solid rgba(24, 23, 23, 1)
}


main .o2,.o3{
   display:flex;
   justify-content: space-between;
   margin-top: 114px;
}
main .o2 .left h3{
font: 500 24px DM Sans;
}

main .o2 .left .common{
   font: 400 22px DM Sans;
   margin-top: 25px;
}
main .o2 .left .grey{
   font: 400 22px DM Sans;
   color: rgba(96, 96, 96, 1);
   margin-top: 20px;
}
main .o2 .left .underlined{
   font: 500 22px DM Sans;
   text-decoration: underline;
   margin-top: 156px;
}
main .o2 .right{
   width: 640px;
   height: 365px;
   background: rgba(96, 96, 96, 1);
}

main .o3{
   margin-bottom: 106px;
}
main .o3 .left h3{
   font: 500 24px DM Sans;
   }
   
   main .o3 .left .common{
      font: 400 22px DM Sans;
      margin-top: 25px;
   }
   main .o3 .left .grey{
      font: 400 22px DM Sans;
      color: rgba(96, 96, 96, 1);
      margin-top: 20px;
   }
   main .o3 .left .underlined{
      font: 500 22px DM Sans;
      text-decoration: underline;
      margin-top: 156px;
   }
   main .o3 .right{
      width: 640px;
      height: 365px;
      background: rgba(96, 96, 96, 1);
   }

footer{
   display: flex;
   margin-top: 20px;
   justify-content: space-between;
   margin-bottom: 116px;
}
footer .connect{
   display: flex;
   gap: 32px;
   text-align:center ;
}
footer .left{
font: 500 22px DM Sans;
color: rgba(36, 41, 175, 1);

}
footer .connect p{
   font: 500 22px DM Sans;
}